
<!--listo-->


<section class="carousel slide" id="hero-carousel" data-bs-ride="carousel">
    <!--Indicadores-->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 4"></button>

    </div>

    <!--Imagenes-->
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="~/imagenes/j1.jpg" class="d-block w-100 c-img" alt="logo">
           
            <!--Texto sobre la imagen.  con top-o subir texto-->
            <div class="carousel-caption top-0 mt-4 d-sm d-md-block">
                <p class="fs-3"></p>
                <h1 class="display-1 fw-bolder text-capitalize"></h1>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="~/imagenes/j2.jpg" class="d-block w-100 c-img" alt="lago2">

            <div class="carousel-caption top-0 mt-4 d-sm d-md-block">
                <p class="fs-3"></p>
                <h1 class="display-1 fw-bolder text-capitalize"></h1>
            </div>

        </div>
        <div class="carousel-item c-item">
            <img src="~/imagenes/j3.jpg" class="d-block w-100 c-img" alt="lago3">
            <div class="carousel-caption top-0 mt-4 d-sm d-md-block">
                <p class="fs-3"></p>
                <h1 class="display-1 fw-bolder text-capitalize"></h1>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="~/imagenes/j4.jpg" class="d-block w-100 c-img" alt="lago4">
            <div class="carousel-caption top-0 mt-4 d-sm d-md-block">
                <p class="fs-3"></p>
                <h1 class="display-1 fw-bolder text-capitalize"></h1>
            </div>
        </div>
    </div>

    <!--Botones controladores-->
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

    <div class="text-center">
        <img src="./imagenes/JJ.jpg" style="max-width: 500px" class="logo-mark mx-auto" />
        <h1>Los calzados mas cotizados</h1>
        <h5>LOS TENIS JORDAN</h5>

        <div class="row pies-of-the-week">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var pie in Model.PiesOfTheWeek)
                {
                    <partial name="_PieCard" model="pie" />
                }
            </div>
        </div>
    </div>
</div>
<!--particulas de js-->
<script src="~js/particles.js"></script>
