
﻿<section class="about-section">
    <div class="container">
        <img src="~/imagenes/jordan.png" class="d-block w-100 c-img" alt="logo">
        <h2 class="section-title">MICHAEL JORDAN </h2>
        <p class="section-description">
            
        </p>
        <p>
            ¡Descubre el legado de la marca Jordan en nuestra tienda! Desde su inicio en 1984, Jordan se ha convertido en un ícono en el mundo del calzado deportivo y la cultura urbana. Como colaboración entre Nike y el legendario Michael Jordan, la marca ha dejado una huella imborrable en la historia del baloncesto y el estilo de vida.
        </p>
        <p>
            Las zapatillas Jordan son reconocidas por su diseño innovador, calidad excepcional y detalles únicos. Cada par es una combinación perfecta de estilo y rendimiento, destinada tanto a los fanáticos del baloncesto como a los amantes de la moda. Desde el clásico Air Jordan 1 hasta los últimos lanzamientos, ofrecemos una amplia selección de modelos para que encuentres el que se adapte a tu estilo y necesidades.
        </p>
        <p>
            Pero la marca Jordan no se limita solo a las zapatillas. También contamos con una variedad de ropa y accesorios inspirados en la estética y el legado de Michael Jordan. Desde camisetas y sudaderas hasta gorras y mochilas, podrás lucir el estilo emblemático de la marca Jordan de pies a cabeza.
        </p>
        <p>
            En nuestra tienda, nos enorgullece ofrecer una experiencia completa de la marca Jordan. Nuestro personal capacitado y apasionado está listo para ayudarte a encontrar el par perfecto de zapatillas Jordan y los complementos adecuados. Ya sea que estés buscando algo para practicar deporte, destacar en la cancha o simplemente lucir un estilo único, tenemos todo lo que necesitas.
        </p>
        <p>
            Ven y sumérgete en el mundo de la marca Jordan en nuestra tienda. Descubre la calidad, el estilo y el legado que ha convertido a Jordan en una marca tan predominante y admirada en todo el mundo. ¡Te esperamos para ayudarte a encontrar el equipo perfecto para elevar tu juego y tu estilo!
        </p>
@*        <table>
            <tr>
                <th>HOTEL</th>
                <th>HABITACIONES</th>
            </tr>
            <tr>

                <td>HOTEL CONTINENTAL</td>
                <td>NO PARA TOPONES, AQUI ES CIN PLATA</td>
            </tr>
        </table>*@
    </div>
</section>
<style>
    .about-section {
        padding: 50px 0;
        background-color: #f8f8f8;
        text-align: center;
    }

    .section-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .section-description {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }

</style>

